/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 100%;
}

.white {
  color: #fff !important;
}

.form-control {
  background-color: transparent;
  color: #fff;
}
