/* Sticky footer styles
-------------------------------------------------- */

html, body {
  height: 100%;
  background-color: #11251b;
}

.content-wrapper {
  min-height: 100%;
  margin: 0 auto -99px;
}

.push {
  height: 99px;
}

.white {
  color: #fff !important;
}

.form-control {
  background-color: transparent;
  color: #fff;
}
