@import "common/_variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "layouts/_header";
@import "layouts/_footer";
@import "layouts/_home";

canvas {
  width: 100%;
  height: 100%;
}

#preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
