.footer {
  width: 100%;
  position: relative;
  height: 99px;
  background-color: #11251b;
  background-image: url(../images/footerTile.png);
  background-size: 16px 99px;
  box-shadow: 0px 0px 25px 15px rgba(0,0,0,0.9);
  .boat-tag {
    max-width: 159px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
}
