.footer {
  width: 100%;
  position: relative;
  height: 200px;
  background-color: #11251b;
  background-image: url(../images/SweaterTile.png);
  background-size: 16px 200px;
  .boat-tag {
    max-width: 159px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
}
